/* Adding this back, because Basis excludes system.theme.css */
label {
	display: block;
}

.l-top .block-hero {
    margin-top: 0;
}

.l-header {
    margin-bottom: 0;
}

body {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}



