body a {
	color: #0073bd;
}

.row {
	margin-right: 0;
	margin-left: 0;
}

.page-title {
	margin-bottom: 30px;
}

.col-md-12 {
	padding-right: 0;
	padding-left: 0;
}

.block:first-of-type {
	padding-top: 50px;
}

footer .block:first-of-type,
header .block:first-of-type {
	padding-top: 0px;
}

/*
 * Breadcrumbs
 */

.breadcrumb {
	background-color: white;
	padding-top: 0;
}

.breadcrumb li:after {
	border-color: grey;
	width: .7em;
	height: .7em;
	border-width: 1px 1px 0 0;
}

.breadcrumb li a, .breadcrumb li span {
	padding: 0.5em 1.7em .5em 1.3em;
}

h2.block-title {
	margin-bottom: 2.5rem;
}