.l-wrapper .block.block-hero {
    margin-top: 0;
    margin-bottom: 0;
}

.l-header {
    margin-bottom: 0;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

.row .l-content {
    padding-right: 0;
    padding-left: 0;
}

/* Overiding css from boxton hero */

.hero-layouts .container {
    display: block;
}

.hero-layouts .container.container-fluid.row{
    display: flex;
}

.l-wrapper .block {
    padding-top: 40px;
    padding-bottom: 40px;
}



.block-hero-image {
    background-position: center center;
}

.views-row {
    margin-bottom: 3rem;
}