
/*         Testimonials        */

.views-view-grid .views-grid-box {
    border-color: transparent;
}

.view-id-testimonials .field-content {
    display: grid;
    grid-template-columns: 66% 33%;
}

.view-id-testimonials .field-content div {
    padding: 0 5% 5% 5%;
}

.view-id-testimonials .field-content p {
    font-style: italic;
}

.block-views-testimonials-block h2.block-title {
    text-align: center;
}


/*         Portfolio        */

.container .tatsu-grid {
    padding: 40px auto;
    max-width: 100%;
}

.tatsu-grid {
    padding: 0;
}

.tatsu-grid .view-header h3 {
    font-size: 32px;
    margin: 0 0 10px;
    text-align: center;
}

.tatsu-grid .view-header p {
    font-size: 18px;
    margin: 0 auto 50px;
    max-width: 800px;
    text-align: center;
}

.tatsu-grid.col-lg-3 .view-content.tatsu  {
    display: grid;
    grid-template-columns: 23.875% 23.875% 23.875% 23.875%;
    grid-column-gap: 1.5%;
}

.tatsu-grid.col-lg-4 .view-content.tatsu  {
    display: grid;
    grid-template-columns: 32.33% 32.33% 32.33%;
    grid-column-gap: 1.5%;
}

.tatsu-grid.col-lg-6 .view-content.tatsu  {
    display: grid;
    grid-template-columns: 49% 49%;
    grid-column-gap: 2%;
}

.tatsu-grid.col-lg-12 .view-content.tatsu  {
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap: 0;
}

.tatsu-grid .view-content .views-row {
    grid-row-start: span 1;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    background-color: white;
    padding: 20px;
}

.tatsu-grid .view-content .views-row .field-content {
    width: calc(100% + 40px);
    position: relative;
}

.tatsu-grid .view-content .views-row .field-content img {
    width: 100%;
    margin-bottom: 0px;
    position: relative;
        left: -20px;
        top: -20px;
}



@media (max-width: 900px) {

    .tatsu-grid .view-content .views-row img {
        width: 100%;
    }

    .tatsu-grid .view-content.tatsu {
        grid-template-columns: 49% 49%;
        grid-column-gap: 2%;
    }

    .tatsu-grid.col-lg-3 .view-content.tatsu,
    .tatsu-grid.col-lg-4 .view-content.tatsu,
    .tatsu-grid.col-lg-6 .view-content.tatsu,
    .tatsu-grid.col-lg-12 .view-content.tatsu {
        grid-template-columns: 49% 49%;
        grid-column-gap: 2%;
    }
}

@media (max-width: 450px) {

    .tatsu-grid.col-lg-3 .view-content.tatsu,
    .tatsu-grid.col-lg-4 .view-content.tatsu,
    .tatsu-grid.col-lg-6 .view-content.tatsu,
    .tatsu-grid.col-lg-12 .view-content.tatsu {
        grid-template-columns: 100%;
        grid-column-gap: 0;
    }
}

nav.tabs:before {
    background-color: #d1cccc;
}






