.l-wrapper .block.block-hero {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 20px;
}

.l-header {
    margin-bottom: 0;
}

.block-hero-image {
    position: relative;
}

.block-hero-image .container {
    position: absolute;
    bottom: 0px;
}
.block-hero-image .container .block-title {
    font-weight: 600;
    font-size: 50px;
    color: white;
    text-align: center;
    text-shadow: 0 0 10px #FFFFFF, 3px 4px 13px #020101;
}

/* Overiding css from boxton hero */

.hero-layouts .container {
    display: block;
}

.hero-layouts .container.container-fluid.row{
    display: flex;
}

.block-hero-image {
    background-position: center center;
}

.views-row {
    margin-bottom: 3rem;
}

.header-menu ul.links {
    position: absolute;
    right: 0px;
}

div.block-layout-custom-block[style] {
    padding-top: 10px;
}

@media (max-width: 990px) {
    .hero-layouts .container.container-fluid.row {
        display: block;
    }
    .header-menu ul.links {
        position: relative;
    }
}