.l-wrapper .block.block-hero {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 20px;
}

.l-header {
    margin-bottom: 0;
}

/* Overiding css from boxton hero */

.hero-layouts .container {
    display: block;
}

.hero-layouts .container.container-fluid.row{
    display: flex;
}

.l-wrapper .block {
    padding-top: 40px;
    padding-bottom: 40px;
}

.block-hero-image {
    background-position: center center;
}

.views-row {
    margin-bottom: 3rem;
}

.header-menu ul.links {
    position: absolute;
    right: 0px;
}

div.block-layout-custom-block[style] {
    padding-top: 10px;
}


@media (max-width: 990px) {
    .hero-layouts .container.container-fluid.row {
        display: block;
    }
    .header-menu ul.links {
        position: relative;
    }
}