.hero-layouts .container, .hero-layouts .container-fluid {
  display: flex;
  width: 100%;
}
.hero-layouts .block-hero {
  min-height: 45vh;
}

.hero-layouts .l-header {
  margin: 0;
}

.hero-layouts .row {
  margin: auto;
  box-sizing: border-box;
}

.hero-layouts .l-header-inner.container, .hero-layouts .l-header-inner.container-fluid {
  flex-direction: column;
}

.js nav .menu-dropdown a:hover, .js nav .menu-dropdown a:focus, .js nav .menu-dropdown a:active {
  padding-right: inherit;
}
